@import "tailwindcss";

:root {
  --background: #FFF8E5;
  --foreground: #000000;
  --brand-0: #ffffff;
  --brand-50:  #FFD5D7;
  --brand-100: #FFB2B6;
  --brand-200: #FF8F92;
  --brand-300: #FF6B6E;
  --brand-400: #FF474A;
  --brand-500: #D30F19;
  --brand-600: #B20D15;
  --brand-700: #8F0A12;
  --brand-800: #6C0710;
  --brand-900: #47040C;
  --brand-950: #2A0206;
  
  --font-geist-sans: 'Droid Sans', sans-serif;
  --font-geist-mono: 'Droid Sans Mono', monospace;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family:'Droid Sans', sans-serif;;
}

.nav {
  background-color: var(--brand-500);
  color: var(--background);
  font-weight: bold;
}

.button-primary {
  background-color: var(--brand-500);
  color: var(--background);
}

.button-secondary {
  background-color: var(--background);
  color: var(--brand-500);
  border: 1px solid var(--brand-500);
}

table thead {
  background-color: var(--brand-500);
  color: var(--background);
}

.sidebar {
  background-color: var(--brand-600);
  color: var(--brand-0);
}
.sidebar-active {
  background-color: var(--brand-0);
  color: var(--brand-600);
}

.icon {
  background-color: var(--background);
  color: var(--brand-500);
}

.stock h2 {
  color: var(--foreground);
}

.stock p {
  color: var(--brand-500);
}
